<footer id="footer">
    <div class="wrapper">
        <div class="f-col_1">
            <a href="javascript:;"><img src="~/Content/Img/footer-logo.png" alt="My Fan" title="My Fan"></a>
            <p>Copyright © 2014 - <a href="javascript:;">myFan.com</a>. </p>
            <p>All rights are reserved.</p>
        </div>
        <div class="f-col_2">
            <h3>About</h3>
            <ul class="flink">
                <li><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">Stores</a></li>
                <li><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">Search</a></li>
                <li><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">News</a></li>
                <li><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">Api1 Terms and Conditions</a></li>
                <li><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">Privacy Policy</a></li>
                <li><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">Contact Us</a></li>
            </ul>
        </div>
        <div class="f-col_3">
            <h3>Help</h3>
            <ul class="flink">
                <li><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">Work Center</a></li>
                <li><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">Help Center</a></li>
            </ul>
        </div>
        <div class="f-col_4">
            <h3>Follow Us</h3>
            <ul class="social-icn">
                <li class="pinterest-icn"><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">1</a></li>
                <li class="camera-icn"><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">2</a></li>
                <li class="linkdin-icn"><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">3</a></li>
                <li class="gplus-icn"><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">4</a></li>
                <li class="fb-icn"><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">5</a></li>
                <li class="twt-icn"><a href="http://blisswebsolution.com/development/MyFan/html/043015/index.html#">6</a></li>
            </ul>
        </div>
    </div>
</footer>