@{
    ViewBag.Title = "Home Page";
}

<div class="outer-bg">
    <div class="wrapper">
        <section id="home-intro">
            <div class="welcome-box section animated fadeInRight">
                <span> <img src="~/Content/Img/welcome-image.jpg" alt=""> </span>
                <div class="welcome-content">
                    <div class="welcome-body">
                        <h1>Welcome to <img src="~/Content/Img/logo-big.png" alt=""></h1>
                        <p>Share your passions to create and connect with fans</p>
                        <div class="btn-group">
                            <input name="Sign Up" class="blue-btn" type="button" value="Sign Up">
                            <a href="/user/sign-in" name="Login" class="blue-btn">Login</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-middle-box section animated fadeInRight">
                <div class="half-box">
                    <span><img src="~/Content/Img/graphic.jpg" alt="Graphic Designer" title="Graphic Designer"></span>
                    <p>Graphic Designer</p>
                </div>
                <div class="half-box">
                    <span><img src="~/Content/Img/transportation.jpg" alt="Transportation" title="Transportation"></span>
                    <p>Transportation</p>
                </div>
                <div class="full-box">
                    <span><img src="~/Content/Img/interior-design.jpg" alt="Interior Design" title="Interior Design"></span>
                    <p>Interior Design</p>
                </div>
            </div>
            <div class="welcome-last-box section animated fadeInRight">
                <div class="full-box">
                    <span><img src="~/Content/Img/singer.jpg" alt="Singer" title="Singer"></span>
                    <p>Singer</p>
                </div>
            </div>
        </section>
        <section id="spotlights">
            <div class="tittle"><img src="~/Content/Img/spotlights.jpg" alt="Spotlights" title="Spotlights"><span>Spotlights</span> </div>
            <ul class="spotlights-pic expandOpen" id="object">
                <li>
                    <img src="~/Content/Img/galore-mag.jpg" alt="GALORE MAG" title="GALORE MAG">
                    <p>GALORE MAG</p>
                </li>
                <li>
                    <img src="~/Content/Img/kimberly-mcvicar.jpg" alt="Kimberly McVicar" title="Kimberly McVicar">
                    <p>Kimberly McVicar</p>
                </li>
                <li>
                    <img src="~/Content/Img/paige.jpg" alt="paige" title="paige">
                    <p>Paige</p>
                </li>
                <li>
                    <img src="~/Content/Img/kelsey-dake.jpg" alt="Kelsey Dake" title="Kelsey Dake">
                    <p>Kelsey Dake</p>
                </li>
            </ul>
        </section>
        <section id="carousel-area">
            <ul class="slider responsive slick-initialized slick-slider">
                <ul class="slick-list draggable" tabindex="0">
                    <li class="slick-track" style="opacity: 1; width: 4288px; transform: translate3d(-2144px, 0px, 0px); transition: transform 2000ms ease; -webkit-transition: transform 2000ms ease;">
                    <li class="slick-slide slick-cloned" index="-4" style="width: 240px;">
                        <img src="~/Content/Img/cimg5.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-cloned" index="-3" style="width: 240px;">
                        <img src="~/Content/Img/cimg1.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-cloned" index="-2" style="width: 240px;">
                        <img src="~/Content/Img/cimg2.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-cloned" index="-1" style="width: 240px;">
                        <img src="~/Content/Img/cimg3.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide" index="0" style="width: 240px;">
                        <img src="~/Content/Img/cimg1.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide" index="1" style="width: 240px;">
                        <img src="~/Content/Img/cimg2.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide" index="2" style="width: 240px;">
                        <img src="~/Content/Img/cimg3.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide" index="3" style="width: 240px;">
                        <img src="~/Content/Img/cimg4.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-active" index="4" style="width: 240px;">
                        <img src="~/Content/Img/cimg5.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-active" index="5" style="width: 240px;">
                        <img src="~/Content/Img/cimg1.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-active" index="6" style="width: 240px;">
                        <img src="~/Content/Img/cimg2.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-active" index="7" style="width: 240px;">
                        <img src="~/Content/Img/cimg3.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-cloned" index="8" style="width: 240px;">
                        <img src="~/Content/Img/cimg1.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-cloned" index="9" style="width: 240px;">
                        <img src="~/Content/Img/cimg2.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-cloned" index="10" style="width: 240px;">
                        <img src="~/Content/Img/cimg3.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li>
                    <li class="slick-slide slick-cloned" index="11" style="width: 240px;">
                        <img src="~/Content/Img/cimg4.jpg" alt="">
                        <h2>Goose your ways...</h2>
                        <p>From wanda productions</p>
                    </li></li>
                </ul>
                <button type="button" data-role="none" class="slick-prev" style="display: block;">Previous</button>
                <button type="button" data-role="none" class="slick-next" style="display: block;">Next</button>
            </ul>
        </section>
    </div>
</div>